html {
  height: 100%;
  width: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #15284c;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}
header {
  background-color: #6cb1e2;
  color: #fff;
  padding: .5% .5%; /* Adjust padding as a percentage of the viewport width */
  text-align: center;
  font: simplifica;
  font-size: 2vw; /* Adjust font size as a percentage of the viewport width */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


  /* Styling for left and right images */
  .header-img.left {
    max-width: 100%; /* Ensures the image does not exceed the width of its container */
    height: auto; /* Allows the image to maintain its aspect ratio */
  }

  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  }




  }
  .header-img {
      position: absolute;
      top: 0;
  }

  }
  .header-img.right {
    max-width: 100%; /* Ensures the image does not exceed the width of its container */
    height: auto; /* Allows the image to maintain its aspect ratio */
    }
nav {
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
}
nav a {
    color: ##15284c;
    text-decoration: none;
    padding: 0 35px;
    font-size: 24px
}


nav a:hover {
    text-decoration: underline;
}
section {
    padding: 10px;
}
footer {
    background-color: #6cb1e2;
    color: #fff;
    text-align: center;
    padding: 2px; /* Adjust the top padding to add space */
    position: fixed;
    bottom: 0;
    width: 100%;
}
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-content img {
    width: 1200px;
}
th,
td {
  padding: 15px; /* Adjust this value as needed */
}
th:first-child,
td:first-child {
  padding-right: 75px; /* Adjust this value as needed */
}

th:not(:first-child),
td:not(:first-child) {
  padding-left: 75px; /* Adjust this value as needed */
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Gallery item (image) */
.gallery-item {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width of each image item */
  margin: 10px; /* Adjust the margin between images */
  margin-bottom: 70px; /* Add margin between rows */
}

/* Ensure images maintain aspect ratio */
.gallery-item img {
  width: 100%;
  height: auto;
}
h2{
  font-size: 35px;
}
p{
  font-size: 25px;
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  align-items: center;
}

th {
  font-size: 40px;
  font-weight: bold;
  color: #fff

}

td {
  font-size: 24px;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  align-items: center;
  color: #fff
}

h2 {
  font-size: 36px;
  text-align: center;
  color: #fff
}

.news-tab {
  position: static; /* Change position to static for smaller screens */
  width: 100%; /* Set width to 100% for smaller screens */
  margin-top: 20px; /* Add margin-top to separate from welcome content */
  padding-left: 0; /* Remove left padding */
  border: none; /* Remove border */
  text-align: center; /* Center align text */
}


.news-tab ul {
  list-style-type: none;
  padding: 0;
  color: #fff
}
.news-tab ul li {
  margin-bottom: 10px;
  color: #fff
}
.news-tab ul li a {
    color: #6cb1e3; /* Change text color to light blue */
    font-size: 28px;
    text-decoration: none;
    background-color: transparent; /* Remove background color */
    transition: background-color 0.3s ease; /* Add transition effect */
}

.news-tab ul li a:hover {
    background-color: #fff; /* Change background color to white on hover */
    color: #15284c; /* Change text color to dark blue on hover */
}

#welcome img {
  display: block;
  margin: 0 auto;
  color: #fff
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or "contain" */
}

h3{
  font-size: 36px;
}
.pdf-link {
    color: white; /* Change link color to white */
    text-decoration: none; /* Remove default underline */
    background-color: transparent; /* Set background color to transparent */
    padding: 5px 10px; /* Optional: Add padding for better appearance */
}

.pdf-link:hover {
    background-color: #6cb1e2; /* Change background color on hover */
    text-decoration: underline; /* Underline text on hover */
}